<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net461" allowedVersions="[4.0.0.1]" />
  <package id="FSharp.Data" version="2.3.3" targetFramework="net461" allowedVersions="[2.3.3]" />
  <package id="FsUnit" version="1.4.1.0" targetFramework="net461" allowedVersions="[1.4.1]" />
  <package id="Hopac" version="0.3.23" targetFramework="net461" allowedVersions="[0.3.23]" />
  <package id="Http.fs" version="4.1.0" targetFramework="net461" allowedVersions="[4.1.0]" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" allowedVersions="[5.2.3]" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4420.1017" targetFramework="net461" allowedVersions="[15.0.4420.1017]" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net461" allowedVersions="[3.2.3.0]" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" allowedVersions="[8.0.3]" />
  <package id="NUnit" version="2.6.4" targetFramework="net461" allowedVersions="[2.6.4]" />
  <package id="NUnit.Runners" version="2.6.4" targetFramework="net461" allowedVersions="[2.6.4]" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" allowedVersions="[105.2.3]" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net461" allowedVersions="[4.3.1]" />
</packages>
